<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <handlers>
            <remove name="HttpPlatformHandler" /> <add name="HttpPlatformHandler"
                 path="api/*"  verb="*"
                 modules="httpPlatformHandler"
                 resourceType="Unspecified" />
        </handlers>
        
        <httpPlatform processPath="C:\Program Files\Python311\python.exe"
                      arguments="app.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile=".\python_logs.txt"
                      startupTimeLimit="60"
                      processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="." />
                <environmentVariable name="FLASK_ENV" value="production" />
            </environmentVariables>
        </httpPlatform>

        <staticContent>
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>
        
    </system.webServer>
</configuration>

