<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <!-- 
        THIS SECTION IS NEW
        It tells IIS to serve 'index.html' when a user visits http://localhost/Car
        This fixes the "i don't see index.html" problem.
        -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- 
        THIS BLOCK IS REQUIRED
        It tells IIS to send requests to your Python app.
        Make sure you have "Unlocked" this section in IIS Manager.
        -->
        <handlers>
            <add name="HttpPlatformHandler"
                 path="*"
                 verb="*"
                 modules="httpPlatformHandler"
                 resourceType="Unspecified" />
        </handlers>
        
        <!-- 
        This is your httpPlatform config.
        I'm adding 'requestTimeout="60"' back in, as it's good practice.
        Now that the port bug is fixed, it won't time out.
        -->
        <httpPlatform processPath="C:\Program Files\Python314\python.exe"
                      arguments="C:\inetpub\wwwroot\Car\app.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile="C:\inetpub\wwwroot\Car\python_logs.txt"
                      startupTimeLimit="60"
                      processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="." />
                <environmentVariable name="FLASK_ENV" value="production" />
            </environmentVariables>
        </httpPlatform>

        <!-- This 'staticContent' block is correct. Leave it as-is. -->
        <staticContent>
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>
        
    </system.webServer>
</configuration>

